.vs/
*.zip
Calendario/CalendarioApp/CalendarioApp/bin/
Calendario/CalendarioApp/CalendarioApp/obj/
Calendario/CalendarioApp/CalendarioApp.Android/bin/
Calendario/CalendarioApp/CalendarioApp.Android/obj/
Calendario/CalendarioServer/bin/
Calendario/CalendarioServer/obj/